<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al-Ilm School</title>
    <!--Load Vue from Server-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--Link Lessons.js File-->
    <script src="lessons.js"></script>
    <!--Import FontAwesome Library-->
    <script src="https://kit.fontawesome.com/e62066c739.js" crossorigin="anonymous"></script>
    <!--Link CSS File for styling-->
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <div id="app">
        <!--Navigation Bar-->
        <div class="navbar">
            <ul>
                <li>
                    <a class="active" href="#home" v-text="sitename"></a>
                </li>

                <div class="checkout">
                    <button v-if="enableCheckout" v-on:click="showCheckout">{{cartItemCount}}<span class="fas fa-cart-plus"></span>Checkout</button>
                    <button disabled v-else><span class="fas fa-cart-plus"></span>Checkout</button>
                </div>
            </ul>
        </div>

        <div v-if="showLesson">
            <!--Search Bar-->
            <p>
                <label>Search Lesson: </label>
                <input type="text" v-model="search" placeholder="Type something">
            </p>

            <!--Sorting-->
            <h3>Sort Results</h3>

            <p>
                <input type="radio" id="subject" value="Subject" v-model="sortBy" >
                <label for="subject">Subject</label>

                <input type="radio" id="location" value="Location" v-model="sortBy">
                <label for="location">Location</label>

                <input type="radio" id="price" value="Price" v-model="sortBy">
                <label for="price">Price</label>

                <input type="radio" id="availability" value="Availability" v-model="sortBy">
                <label for="availability">Availability</label>
            </p>
            <p>
                <input type="radio" id="ascending" value="Ascending" v-model="sortOrder">
                <label for="ascending">Ascending</label>

                <input type="radio" id="descending" value="Descending" v-model="sortOrder">
                <label for="descending">Descending</label>
            </p>


            <!--Display Lessons-->
            <div class="lesson-container">
                <div v-for ="(lesson, key) in sortedLessons" class="item">
                    <figure>
                        <img v-bind:src=`${lesson.Image}`>
                    </figure>
                    <p>Subject: <span v-text="lesson.Subject"></span></p>
                    <p>Location: <span v-text="lesson.Location"></span></p>
                    <p>Price: <span v-text="lesson.Price"></span> AED</p>
                    <p>Available Spaces: <span v-text="lesson.Space"></span></p>
        
                    <button v-on:click="addToCart(lesson)" v-if="lesson.Space > 0">Add to Cart</button>
                    <button v-else disabled>Add to Cart</button>
                </div>
            </div>
        </div>

        <div v-else>

            <!--Checkout Page-->
            <h2>Shopping Cart</h2>
            <table>
                <thead>
                    <tr>
                        <th>Lesson</th>
                        <th>Location</th>
                        <th>Space</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in cart">
                        <td>{{item.lesson.Subject}}</td>
                        <td>{{item.lesson.Location}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.lesson.Price}}</td>
                        <td>
                            <button v-on:click="removeItem(item)">Remove</button>
                        </td>


                    </tr>
                </tbody>
            </table>

            <h2>Checkout</h2>
            <p>
                <strong>Name:</strong>
                <input v-model="order.name">
            </p>
            <p>
                <strong>Phone:</strong>
                <input v-model.number="order.phone">
            </p>
            <button v-if="enableSubmit" v-on:click="submitForm(order)">Checkout</button>
            <button disabled v-else>Checkout</button>


        </div>
    </div>




    <script>
        let webstore = new Vue ({
            el: '#app',
            data: {
                sitename: 'Al-Ilm School Extracurricular Activities',
                lessons: lessons,
                // Stores cart items
                cart: [],
                showLesson: true,
                // Stores user information to confirm order
                order: {
                    name: '',
                    phone: ''
                },
                // Stores user input and selection
                sortBy: 'Subject',
                sortOrder: 'Ascending',
                search: '',
            },
            methods: {
                // Checks if lesson is already in cart or not
                getCartItem(lesson) {
                    for (i = 0; i < this.cart.length; i++) {
                        if(this.cart[i].lesson.id === lesson.id) {
                            return this.cart[i]
                        }
                    }
                    return null
                },
                // Adds lesson to cart
                addToCart (lesson) {
                    let cartItem = this.getCartItem(lesson);
                    //If item is already in cart, then increase quantity. If not, push lesson to cart
                    if (cartItem != null) {
                        cartItem.quantity++;
                    } else {
                        this.cart.push({
                        lesson: lesson,
                        quantity: 1
                        });
                    }
                    lesson.Space--;

                },
                // Removes lesson from cart and adds the quantity back to lesson Space
                removeItem(item) {
                    item.lesson.Space += item.quantity;
                    let itemIndex = this.cart.indexOf(item);
                    this.cart.splice(itemIndex, 1);
                    
                },
                // Checkout page toggle
                showCheckout: function() {
                    this.showLesson = this.showLesson? false: true;
                },
                // Confirm Order
                submitForm (order) {
                    alert('Order Successful');
                },

            },
            computed: {
                // Returns number of items in cart
                cartItemCount: function(){
                    return this.cart.length
                 },
                 // Checkout button enables when cart lenght is more than 0
                enableCheckout: function() {
                    return this.cart.length > 0
                 },
                 // Validates user input using regular expressions
                 enableSubmit: function() {
                    let isnum = /^\d+$/.test(this.order.phone);
                    let isletter = /^[A-Za-z]+$/.test(this.order.name);
                    return isnum == true && isletter == true
                 },
                 // Filters lessons based on user input and sorts results based on user selection
                sortedLessons () {
                    tempLessons = this.lessons;

                    if (this.search != '' && this.search) {
                        tempLessons = tempLessons.filter((item) => {
                            return item.Subject.toUpperCase().includes(this.search.toUpperCase()) ||
                            item.Location.toUpperCase().includes(this.search.toUpperCase())
                        })
                    
                    }
                    else if (this.sortBy == 'Subject' && this.sortOrder == 'Ascending'){
                        tempLessons = tempLessons.sort((a,b) => {
                            let fa = a.Subject.toLowerCase(), fb = b.Subject.toLowerCase()
          
                            if (fa < fb) {
                                return -1
                            }
                            if (fa > fb) {
                                return 1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Subject' && this.sortOrder == 'Descending'){
                        tempLessons = tempLessons.sort((a,b) => {
                            let fa = a.Subject.toLowerCase(), fb = b.Subject.toLowerCase()
          
                            if (fa < fb) {
                                return 1
                            }
                            if (fa > fb) {
                                return -1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Location' && this.sortOrder == 'Ascending'){
                        tempLessons = tempLessons.sort((a,b) => {
                            let fa = a.Location.toLowerCase(), fb = b.Location.toLowerCase()
          
                            if (fa < fb) {
                                return -1
                            }
                            if (fa > fb) {
                                return 1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Location' && this.sortOrder == 'Descending'){
                        tempLessons = tempLessons.sort((a,b) => {
                            let fa = a.Location.toLowerCase(), fb = b.Location.toLowerCase()
          
                            if (fa < fb) {
                                return 1
                            }
                            if (fa > fb) {
                                return -1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Price' && this.sortOrder == 'Ascending'){
                        tempLessons = tempLessons.sort((a,b) => {
                            if (a.Price < b.Price) {
                                return -1
                            }
                            if (a.Price > b.Price) {
                                return 1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Price' && this.sortOrder == 'Descending'){
                        tempLessons = tempLessons.sort((a,b) => {
                            if (a.Price < b.Price) {
                                return 1
                            }
                            if (a.Price > b.Price) {
                                return -1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Availability' && this.sortOrder == 'Ascending'){
                        tempLessons = tempLessons.sort((a,b) => {
                            if (a.Space < b.Space) {
                                return -1
                            }
                            if (a.Space > b.Space) {
                                return 1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Availability' && this.sortOrder == 'Descending'){
                        tempLessons = tempLessons.sort((a,b) => {
                            if (a.Space < b.Space) {
                                return 1
                            }
                            if (a.Space > b.Space) {
                                return -1 
                            }
                            return 0

                        })
                    }
                    return tempLessons
                },
            }
        });
    </script>
    
</body>
</html>