<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al-Ilm School</title>
    <!--Load Vue from Server-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--Link Lessons.js File-->
    <script src="lessons.js"></script>
    <!--Import FontAwesome Library-->
    <script src="https://kit.fontawesome.com/a034fe5f30.js" crossorigin="anonymous"></script>
    <!--Link CSS File for styling-->
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app">
        <!--Navigation Bar-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" v-on:click="showCheckout"><span class="fa-solid fa-school-flag fs-4"></span> {{sitename}}</a>
                </div>
                <a class="nav navbar-nav navbar-right" v-if="enableCheckout" v-on:click="showCheckout"><i class="fa-solid fa-cart-shopping fs-4 position-relative"></i>
                    <span class="badge bg-danger border border-light rounded-circle">{{cartItemCount}}</span>
                </a>
                <a class="nav navbar-nav navbar-right disabled" v-else v-on:click="showCheckout"><i class="fa-solid fa-cart-shopping fs-4 position-relative"></i>
                </a>
            </div>
        </nav>

        <div v-if="showLesson">
            <!--Hero Section-->
            <div class="container text-center py-5 mb-4 ">
                <div class="p-5 mb-4 lc-block">
                    <div class="lc-block mb-4">
                        <div editable="rich">
                            <h2 class="fw-bold display-2">Extracurricular Activities</h2>
                        </div>
                    </div>
                    <div class="lc-block mb-5">
                        <div editable="rich">
                            <p class="lead">Below are a list of activities taking place after school timings for students to expand their skills and knowledge</p>
                        </div>
                    </div>
                    <!--Search-->
                    <div class="lc-block mb-2">
                        <div class="form-outline">
                            <input type="search" v-model="search" class="form-control" placeholder="Search Lesson">
                            <br>
                            <div class="container">
                                <!--Sort-->
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Sort Lessons:</h4>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-select" aria-label="Default select example" @change="sortLessons()" v-model="sortBy">
                                            <option value="Default">--Select Attribute--</option>
                                            <option value="Subject">Subject</option>
                                            <option value="Location">Location</option>
                                            <option value="Price">Price</option>
                                            <option value="Availability">Availability</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-select" aria-label="Default select example" @change="sortLessons()" v-model="sortOrder">
                                            <option value="Ascending">Ascending</option>
                                            <option value="Descending">Descending</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Lessons-->
            <div class="container">
                <div class="row">
                    <template v-for ="(lesson, key) in filteredLessons">
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" v-bind:src=`${lesson.Image}`>
                                <div class="card-body">
                                    <h5 class="card-title" v-text="lesson.Subject"></h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span v-text="lesson.Location"></span></li>
                                    <li class="list-group-item"><span v-text="lesson.Price"></span> AED</li>
                                    <li class="list-group-item"><span v-text="lesson.Space"></span> Seats Available</span></li>
                                </ul>
                                <div class="card-body">
                                    <button class="addButton" v-on:click="addToCart(lesson)" v-if="lesson.Space > 0">Add to Cart</button>
                                    <button class="addButton" v-else disabled>Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>

        <div v-else>
            <!--Hero Section-->
            <div class="container text-center py-5 mb-4 ">
                <div class="p-5 mb-4 lc-block">
                    <div class="lc-block mb-4">
                        <div editable="rich">
                            <h2 class="fw-bold display-2">Checkout Form</h2>
                        </div>
                    </div>
                    <div class="lc-block mb-5">
                        <div editable="rich">
                            <p class="lead">Please review you cart and confirm booking</p>
                        </div>
                    </div>
                </div>

                <!--Cart-->
                <h3>Cart</h3>
                <table>
                    <thead class="table-head">
                        <tr>
                            <th>Lesson</th>
                            <th>Location</th>
                            <th>Space</th>
                            <th>Total Price (AED)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in cart">
                            <td>{{item.lesson.Subject}}</td>
                            <td>{{item.lesson.Location}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.lesson.Price * item.quantity}}</td>
                            <td>
                                <a v-on:click="removeItem(item)"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="summary">
                            <td class="sum" colspan="3">Sum:</td>
                            <td>{{subTotal}}</td>
                        </tr>
                    </tfoot>
                </table>
                <br>
                <!--Checkout Form-->
                <h3>Checkout</h3>
                <p>
                    <strong>Name:</strong>
                    <input v-model="order.name">
                </p>
                <p>
                    <strong>Phone:</strong>
                    <input v-model.number="order.phone">
                </p>
                <button class="submitButton" v-if="enableSubmit" data-bs-toggle="modal" data-bs-target="#confirmSeats">Checkout</button>
                <button class="submitButton" disabled v-else>Checkout</button>
            </div>
            <!--Confirmation Dialog-->
            <div class="modal fade" id="confirmSeats" tabindex="-1" role="dialog" aria-labelledby="confirmOrder" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Al Ilm School</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Seats Confirmed</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script>
        let webstore = new Vue ({
            el: '#app',
            data: {
                sitename: 'Al-Ilm School',
                lessons: lessons,
                // Stores cart items
                cart: [],
                showLesson: true,
                // Stores user information to confirm order
                order: {
                    name: '',
                    phone: ''
                },
                // Stores user input and selection
                sortBy: 'Subject',
                sortOrder: 'Ascending',
                search: '',
            },
            methods: {
                // Checks if lesson is already in cart or not
                getCartItem(lesson) {
                    for (i = 0; i < this.cart.length; i++) {
                        if(this.cart[i].lesson.id === lesson.id) {
                            return this.cart[i]
                        }
                    }
                    return null
                },
                // Adds lesson to cart
                addToCart (lesson) {
                    let cartItem = this.getCartItem(lesson);
                    //If item is already in cart, then increase quantity. If not, push lesson to cart
                    if (cartItem != null) {
                        cartItem.quantity++;
                    } else {
                        this.cart.push({
                        lesson: lesson,
                        quantity: 1
                        });
                    }
                    lesson.Space--;

                },
                // Removes lesson from cart and adds the quantity back to lesson Space
                removeItem(item) {
                    item.lesson.Space += item.quantity;
                    let itemIndex = this.cart.indexOf(item);
                    this.cart.splice(itemIndex, 1);
                    
                },
                // Checkout page toggle
                showCheckout: function() {
                    this.showLesson = this.showLesson? false: true;
                },
                sortLessons() {
                    if (this.sortBy == 'Default') {
                        this.lessons.sort((a,b) => {
                            if (a.id < b.id) {
                                return -1
                            }
                            if (a.id > b.id) {
                                return 1 
                            }
                            return 0
                        })
                    }
                    else if (this.sortBy == 'Subject' && this.sortOrder == 'Ascending'){
                        this.lessons.sort((a,b) => {
                            let fa = a.Subject.toLowerCase(), fb = b.Subject.toLowerCase()
          
                            if (fa < fb) {
                                return -1
                            }
                            if (fa > fb) {
                                return 1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Subject' && this.sortOrder == 'Descending'){
                        this.lessons.sort((a,b) => {
                            let fa = a.Subject.toLowerCase(), fb = b.Subject.toLowerCase()
          
                            if (fa < fb) {
                                return 1
                            }
                            if (fa > fb) {
                                return -1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Location' && this.sortOrder == 'Ascending'){
                        this.lessons.sort((a,b) => {
                            let fa = a.Location.toLowerCase(), fb = b.Location.toLowerCase()
          
                            if (fa < fb) {
                                return -1
                            }
                            if (fa > fb) {
                                return 1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Location' && this.sortOrder == 'Descending'){
                        this.lessons.sort((a,b) => {
                            let fa = a.Location.toLowerCase(), fb = b.Location.toLowerCase()
          
                            if (fa < fb) {
                                return 1
                            }
                            if (fa > fb) {
                                return -1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Price' && this.sortOrder == 'Ascending'){
                        this.lessons.sort((a,b) => {
                            if (a.Price < b.Price) {
                                return -1
                            }
                            if (a.Price > b.Price) {
                                return 1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Price' && this.sortOrder == 'Descending'){
                        this.lessons.sort((a,b) => {
                            if (a.Price < b.Price) {
                                return 1
                            }
                            if (a.Price > b.Price) {
                                return -1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Availability' && this.sortOrder == 'Ascending'){
                        this.lessons.sort((a,b) => {
                            if (a.Space < b.Space) {
                                return -1
                            }
                            if (a.Space > b.Space) {
                                return 1 
                            }
                            return 0

                        })
                    }
                    else if (this.sortBy == 'Availability' && this.sortOrder == 'Descending'){
                        this.lessons.sort((a,b) => {
                            if (a.Space < b.Space) {
                                return 1
                            }
                            if (a.Space > b.Space) {
                                return -1 
                            }
                            return 0

                        })
                    }

                },
            },
            computed: {
                // Returns number of items in cart
                cartItemCount: function(){
                    return this.cart.length
                 },
                 // Checkout button enables when cart lenght is more than 0
                enableCheckout: function() {
                    return this.cart.length > 0
                 },
                // Validates user input using regular expressions
                enableSubmit: function() {
                    let isnum = /^\d+$/.test(this.order.phone);
                    let isletter = /^[A-Za-z]+$/.test(this.order.name);
                    return isnum == true && isletter == true
                 },
                // Filters lessons based on user input and sorts results based on user selection
                filteredLessons () {
                    let tempLessons = this.lessons;
                    if (this.search != '' && this.search) {
                        tempLessons = tempLessons.filter((item) => {
                            return item.Subject.toUpperCase().includes(this.search.toUpperCase()) ||
                            item.Location.toUpperCase().includes(this.search.toUpperCase())
                        })
                    
                    }
                    
                    return tempLessons
                },
                // Calculates total value of cart
                subTotal: function() {
                    let subTotal = 0;

                    for (let i = 0; i < this.cart.length; i++) {
                        subTotal += this.cart[i].quantity * this.cart[i].lesson.Price;
                    }

                    return subTotal;
                    },
            }
        });
    </script>
    
</body>
</html>