@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.navbar{
    background-color: rgb(73, 132, 226);
    border-radius: 10px;
}

.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
}
.navbar ul{
    overflow: auto;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.checkout {
    float: right;
}
.checkout button {
    color: black;
    background: white;
    height: 45px;
}